*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.navbar, .container{
    background-color:rgba(28,28,29,);
    width: 800px;
    border-radius: 3px;
}

.narvar{
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
}