*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.navbar, .container{
    background-color:rgb(83, 83, 86);
    width: 800px;
    border-radius: 3px;
}

.navbar{
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn, input{
    height: 35px;
    padding: 0 1em;
}

.color{
    padding: 0 .25em;
    width: 100px;
    margin: 0 1em;
}

.container{
    height: 800;
    display: grid;
}

.pixel{
    background-color: white;
}

